$primaire :#9356DC;
$secondaire:#ff79DA;
$tertiaire:#99e2D0;


$fond-blanc :#ffff;
$fond-gris:#f6f8f6;
$fond-footer:#353535;

$black:rgb(0, 0, 0);

$trait-vert : 5px solid $tertiaire;

$linear-gradient: linear-gradient(to bottom, $secondaire, $primaire);