.restaurant-color{
  background-color: #f3f8f3;
}
.contenair-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0px 45px 80px;
  margin: 0%;

  .cart {
    height: 300px;
    background-color: #FFF;
    border-radius: 10px;
    width: 44%;
    box-shadow: -2px 5px 16px -4px rgb(0 0 0 / 30%);
    position: relative;
    

    img {
      width: 100%;
      height: 70%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin: auto;
      object-fit: cover;
    
    }

    &.nouveau::after {
      content: "Nouveau";
      position: absolute;
      top: 5%;
      right: 5%;
      font-weight: 700;
      background-color:tertiaire;
      color: #008768;
      padding: 11px;
    }

    .contenair-split {
     display: flex;
     flex-wrap:nowrap;
      align-items: center;
      justify-content: space-between;
    }
    .contenair-description{
      margin:0%   2%;
       & h5 {
      
      font-size:30px;
      margin-top: 4px;
      margin-bottom: 5px;
      }
      & p{
        font-size:24px;
        margin-top: 5px;
      }



    }
    
  }
}



 @media screen and (max-width: 800px) {
 .contenair-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1% 3% 14%;
  

  & .cart{
    width:100%
  }
}
    
  }
    

      
.heart{
position:relative;
          
 & .like{
   position:absolute;
   font-size: 28px;
   left:-45px;
   top:-16px;
   display: flex;
   align-items:center;
   justify-content: center;
 }
          
  .full{
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
   background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 0.35s;
     }
          
    .heart:hover .full{
     opacity:1;
      transform: scale(1.1);} 
  
  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  