.explorer{  
    text-align: center;  
    padding : 0% 11%;

    & h4{
    font-size:40px;
    margin: 0px 0px;
 }  
    & p{ font-size: 32px;
        opacity:0.6;

        & repartition{
            margin-bottom: 3%;
        }
}}
